body{
  text-align : center;
  background-color:aqua; 
  
/*}
#img1{
  width : 200px;
}
/*h1{
  text-color : #1A237E;
}

/*.links{
    float:left;
    padding: 5px;
    text-align: right;
}
/*.links:hover{
    background-color: darkblue;
    color: crimson;
    
    
}

